
$bg-color-nav: #FFFFFF;
$bg-color-content: #FFFFFF;
$text-color: #000000;
$icon-text-color: white;
$home-color: #ffd3b6;
$mat-color: #B2EA8C;
$eureka-color: #F5F981;
$steps-color: #C7ACEF;
$jobs-color: #7CDEDC;
$contact-color: #F2BCE1;
